#selectaColor {
    cursor: url(pointer.png), crosshair !important;
}

#selectaAnimation {
    cursor: url(pointer.png), crosshair !important;
}

#selectaRipple {
    cursor: url(pointer.png), crosshair !important;
}