#title {
	transition: opacity 1s linear;
	text-align: center;
	padding-top: 1.5em;
	margin-bottom: .5em;
	text-decoration: none;
	color: aliceblue;
	cursor: url(assets/images/github.png), auto !important;
}


html {
	overflow-x: hidden;
	overflow-y: hidden;
}

#gitlink {
	padding: 0;
	cursor: url(assets/images/github.png), auto !important;
}

body {
	background-color: #010106;
	transition: background-color 1s linear;
	color: aliceblue;
	overflow: hidden;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: url(assets/images/rainbow.png), auto !important;
}

#changeColorDiv {
	transition: opacity 2s linear;
	text-align: center;
	margin: auto;
	margin-top: 1em;
	width: 75%;
	cursor: url(assets/images/overlay.png), auto !important;
}


.no {
	cursor: url(assets/images/no.png), auto !important;

}

#square {
	overflow: hidden;
	background-color: #0c1522;
	transition: opacity 2s linear, background-color 4s linear, border-color 5s linear;
	text-align: center;
	margin: 0 auto;
	width: 420px;
	height: 420px;
	border: solid;
	border-color: aliceblue;
	border-radius: 10px;
	box-shadow: 0 0 2px #04122a;
	-webkit-box-shadow: 0 0 10px rgb(0, 0, 0);
	-moz-box-shadow: 0 0 10px rgb(0, 0, 0);
	z-index: 1;
	opacity: 1;
	cursor: url(assets/images/overlay.png), auto;
}



.square {
	background-color: #0c1522;
	transition: opacity 2s linear, background-color 4s linear, border-color 5s linear;
	text-align: center;
	margin: 0 auto;
	width: 420px;
	height: 420px;
	border: solid;
	border-color: aliceblue;
	border-radius: 10px;
	box-shadow: #0c1522;
	-webkit-box-shadow: 0 0 10px rgb(0, 0, 0);
	-moz-box-shadow: 0 0 10px rgb(0, 0, 0);
	z-index: 1;
	opacity: 1;
}

#defaultCanvas0 {
	background-color: #0c1522;
	transition: opacity 3s linear, background-color 4s linear, border-color 6s linear;
	text-align: center;
	margin: 0 auto;
	width: 420px;
	height: 420px;
	border-width: .5px;
	border: solid;
	border-color: black;
	border-radius: 10px;
	box-shadow: #0c1522;
	-webkit-box-shadow: 0 0 10px rgb(0, 0, 0);
	-moz-box-shadow: 0 0 10px rgb(0, 0, 0);
	z-index: -1;
	opacity: 0;
}

#changeColor {
	transition: opacity .3s linear;
	cursor: url(https://thumbnail.imgbin.com/3/4/7/imgbin-pizza-pizza-computer-mouse-pointer-cursor-cool-sliced-of-pizza-8-bit-illustration-HZwxHNMLxE0z3NFyL14jJ0pZK_t.jpg) !important;
	cursor: url(assets/images/dot.png), auto !important;
}

#modal {
	top: 7.2em;
	text-align: center;
	font-size: 1.5em
}

#helpModal {
	opacity: 1;
	text-align: center;
	font-size: 1.3em
}

/* .ui dropdown {

	transition: opacity 2s linear;
} */

#bottom-left {
	transition: color .5s linear;
	padding: .5em;
	font-size: 2em;
	left: 0;
	bottom: 0;
	position: absolute;
	margin: 1em;
	text-overflow: ellipsis;
	cursor: url(assets/images/thumbs.png), auto !important;
}

#bottom-right {
	transition: color .5s linear;
	padding: .5em;
	font-size: 2em;
	right: 0;
	bottom: 0;
	position: absolute;
	margin: 1em;
	text-overflow: ellipsis;
}

#scoreBox {
	transition: opacity 1s linear, font-size .2s linear;
	cursor: url(assets/images/thumbs.png), auto !important;
}

#score {
	cursor: url(assets/images/thumbs.png), auto !important;
}

#sequence {
	transition: opacity 1s linear, font-size .3s linear;
	color: 'aliceblue';
	opacity: 0
}



.ui .button {
	transition: opacity .3s linear;
}



/* ------------- */
/* ------------- */
/* ------------- */
/* ------------- */
/* animation CSS */
/* ------------- */
/* ------------- */
/* ------------- */
/* ------------- */


.spin {
	-webkit-animation-name: spin;
	-webkit-animation-duration: 10000ms;
	-webkit-animation-iteration-count: 1;
	-moz-animation-name: spin;
	-moz-animation-duration: 4000ms;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: linear;
	-ms-animation-name: spin;
	-ms-animation-duration: 4000ms;
	-ms-animation-iteration-count: 1;
	-ms-animation-timing-function: linear;
	-o-transition: rotate(2deg);
	-webkit-animation-timing-function: ease-in-out;
}

.move {
	position: relative;
	-webkit-animation: moveIt 4s 1;
	/* Safari 4.0 - 8.0 */
	-webkit-animation-direction: alternate;
	/* Safari 4.0 - 8.0 */
	animation: moveIt 4s 1;
	animation-direction: alternate;
}

.moveUp {
	position: relative;
	animation: moveItUp 18s 1;
	/* animation-direction: alternate; */
}

@keyframes moveItUp {
	0% {
		top: 0px;
		transform: rotate(1800deg);
	}

	3% {

		top: 300px;
	}

	4% {

		top: 400px;
	}



	7% {

		top: 400px;
	}


	8% {
		transform: rotate(180deg);
		top: 550px;

	}

	10% {
		transform: rotate(720deg);
		top: -1000px;

	}



	65% {
		/* transform: rotate(720deg); */
		top: -600px;

	}

	75% {

		top: -600px;

	}


	90% {
		transform: rotate(90deg);
		top: -50px;
	}

	99% {

		top: -5px;
	}

	100% {
		/* width: 420px;
		height: 420px; */
		top: 0px
	}
}


.hover {
	/* Start the shake animation and make the animation last for 0.5 seconds  */
	animation: shake 0.5s;

	/* When the animation is finished, start again */
	animation-iteration-count: infinite;
}

.lift {
	animation: bounceIt 2s 2 alternate;
	-webkit-animation: bounceIt 2s 2 alternate;
}


@-moz-keyframes spin {
	0% {
		-moz-transform: rotate(0deg);
	}

	60% {
		-moz-transform: rotate(1080deg);
	}

	90% {
		-moz-transform: rotate(360deg);
	}


	100% {
		-moz-transform: rotate(180deg);
	}
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}

	60% {
		-webkit-transform: rotate(1080deg);
	}

	90% {
		-webkit-transform: rotate(360deg);
	}


	100% {
		-webkit-transform: rotate(180deg);
	}
}

@keyframes spin {

	55% {
		transform: rotate(7200deg);
		/* left: 200px; */
		border: 15px solid white;
		border-radius: 100%;
		background-color: #48dbfb;
		box-shadow: 0 0 100px #48dbfb;
	}
}

@-webkit-keyframes moveIt {
	0% {
		left: 0px;
	}

	25% {
		left: 369px;
		transform: rotate(189deg);
	}



	75% {
		left: -369px;
		transform: rotate(-10deg);
	}



	100% {
		left: 0px;
	}
}



@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}

	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}

	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}

	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}

	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}

	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}

	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}

	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}

	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}

	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}

	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}

@keyframes bounceIt {
	from {
		transform: translateY(0px);
	}

	to {
		box-shadow: 0 0 20px aliceblue;
		transform: translateY(-50px);
	}
}

@-webkit-keyframes bounceIt {
	from {
		transform: translateY(0px);
	}

	to {
		transform: translateY(-50px);
	}
}

/*  Ripple */

.ripple {
	width: 0;
	height: 0;
	border-radius: 50%;
	background: rgba(215, 14, 255, 0.4);
	transform: scale(0);
	position: absolute;
	opacity: 1;
	z-index: -1;
	transition: background 5s linear, border-radius 10s linear;
}

.ripple2 {
	background: rgba(215, 14, 255, 0.4);
	transform: scale(0);
	position: absolute;
	opacity: 1;
	z-index: 1;
	transition: background 5s linear;
	overflow: hidden;
	border-radius: 5%;
}

.rippleEffect {
	animation: rippleDrop 1s linear;
}

@keyframes rippleDrop {
	100% {
		transform: scale(3);
		opacity: 0;
	}
}

.rippleEffect2 {
	animation: rippleDrop2 .2s linear;
}

@keyframes rippleDrop2 {
	100% {
		transform: scale(3);
		opacity: 0;
	}
}

/* .trail {
	className for the trail elements
	position: absolute;
	height: 6px;
	width: 6px;
	border-radius: 3px;
	background: teal;
} */

.wrapAround {
	animation: wrap 10s linear 1;
	transform: translate3d(0, 0, 0);
}

@keyframes wrap {
	0% {
		-webkit-transform: translateX(0%);
	}

	33% {

		-webkit-transform: translateX(-300%);
	}

	33.1% {
		border-radius: 100%;

		-webkit-transform: translateX(300%);
	}


	66% {
		-webkit-transform: translateX(0%);
	}

	100% {
		-webkit-transform: rotate(900deg)
	}

}

.wrapAround2 {
	animation: wrap2 10s linear infinite;
	transform: translate3d(0, 0, 0);
}

@keyframes wrap2 {
	100% {

		-webkit-transform: translateX(100%);
	}
}

.flashit {
	color: #f2f;
	-webkit-animation: flash linear 2s infinite;
	animation: flash linear 2s infinite;
}

@-webkit-keyframes flash {
	0% {
		opacity: 1;
	}

	50% {
		opacity: .1;
	}

	100% {
		opacity: 1;
	}
}

@keyframes flash {
	0% {
		opacity: 1;
	}

	50% {
		opacity: .1;
	}

	100% {
		opacity: 1;
	}
}

.flashit4ever {
	color: #f2f;
	-webkit-animation: flash4 linear 2s infinite;
	animation: flash linear 2s infinite;
}

@-webkit-keyframes flash4 {
	0% {
		opacity: 1;
	}

	50% {
		opacity: .1;
	}

	100% {
		opacity: 1;
	}
}

@keyframes flash4 {
	0% {
		opacity: 1;
	}

	50% {
		opacity: .1;
	}

	100% {
		opacity: 1;
	}
}


@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}

	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}

	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}

	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}

	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}

	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}

	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}

	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}

	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}

	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}

	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}

.shaker {
	/* Start the shake animation and make the animation last for 0.5 seconds  */
	animation: shaker 1.3s;

	/* When the animation is finished, start again */
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}


@keyframes shaker {


	50% {
		box-shadow: 0 0 10px aliceblue;
		transform: translateY(1.5%);
	}


}

.shakerSquare {
	/* Start the shake animation and make the animation last for 0.5 seconds  */
	animation: shakerSquare 1.1s;

	/* When the animation is finished, start again */
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}


@keyframes shakerSquare {


	50% {
		transform: translateY(4%) rotate(5deg);
		box-shadow: 0 0 10px aliceblue;
	}


}